<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/task
            http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- 配置任务线性池 -->
    <task:executor id="executor" pool-size="5"/>
    <task:scheduler id="scheduler" pool-size="5"/>
    <!-- 启用注解驱动的定时任务 -->
    <task:annotation-driven executor="executor" scheduler="scheduler" proxy-target-class="true"/>
    <!--<task:scheduled-tasks scheduler="scheduler">-->
    <!--&lt;!&ndash; 统计失败邮件定时重新发送 &ndash;&gt;-->
    <!--<task:scheduled ref="sendMail" method="sendMail" cron="0/5 * * * * ?"/>-->
    <!--</task:scheduled-tasks>-->

    <bean name="SendMail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="cn.jcomm.task.SendMail"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="pageSize" value="500"/>
            </map>
        </property>
        <property name="durability" value="true"/>
    </bean>


    <bean id="cmpCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="SendMail"/>
        <!--执行时间每天2:00-->
        <property name="cronExpression" value="0/5 * * * * ?"/>
    </bean>

    <bean id="cmpScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="SendMail"/>
            </list>
        </property>
        <property name="triggers">
            <list>
                <ref bean="cmpCronTrigger"/>
            </list>
        </property>
    </bean>
</beans>